body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg-color: #000;
  --bg-contrast-color: #fff;
  --bg-accent-color: #2b2d2f;
  --text-color: #fff;
  --text-contrast-color: #000;
  --nav-height: 60px;
  --speed: 0.3s;
}

.top-bar {
  max-width: 100%;
  height: var(--nav-height);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--bg-color);
}

.nav {
  display: flex;
}

.nav-item {
  --btn-size: calc(var(--nav-height) * 0.8);
  height: var(--btn-size);
  width: var(--btn-size);
  display: flex;
  align-items: center;
}

.icon-btn {
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background: var(--bg-contrast-color);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon-btn:hover {
  transform: scale(1.1);
}

.icon-btn svg {
  color: var(--text-contrast-color);
  width: 20px;
  height: 20px;
}

.dropdown-menu {
  position: absolute;
  top: calc(var(--nav-height) - 2px);
  right: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  overflow: hidden;
  transition: height var(--speed) ease;
}

@media only screen and (max-width: 650px) {
  .dropdown-menu {
    width: 100vw;
    left: 0;
  }
}

.dropdown-item {
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100%;
  height: 50px;
  border: none;
  transition: background var(--speed) ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--bg-accent-color);
}

.dropdown-item__icon {
  margin-right: auto;
  width: 20%;
}

.dropdown-item__icon svg {
  max-width: 20px;
}

.dropdown-item__title {
  width: 60%;
  overflow: hidden;
}

.menu {
  width: 100%;
}

.menu-primary-enter {
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0);
  transition: all var(--speed) ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0);
  transition: all var(--speed) ease;
}

.menu-secondary-exit {
  position: absolute;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.forward-icon {
  width: 10px;
}

.back-icon {
  transform: rotate(180deg);
  width: 10px;
}
